sample-atrain-output/discussion.md
sample-atrain-output/log.txt
sample-atrain-output/metadata.txt
sample-atrain-output/transcription_maxqda.txt
sample-atrain-output/transcription_timestamps.txt
sample-atrain-output/transcription.json
sample-atrain-output/transcription.srt
sample-atrain-output/transcription.txt
sample-atrain-output/transcription.vtt
